[submodule "backbone"]
      path = libs/backbone
      url = https://github.com/documentcloud/backbone.git
[submodule "underscore"]
      path = libs/underscore
      url = https://github.com/documentcloud/underscore.git
[submodule "less"]
	path = libs/less
	url = https://github.com/cloudhead/less.js.git
[submodule "GitHubWidget"]
	path = libs/GitHubWidget
	url = https://github.com/RedRudeBoy/GitHub-jQuery-Repo-Widget.git
