[submodule "backbone"]
      path = libs/backbone
      url = https://github.com/documentcloud/backbone.git
[submodule "underscore"]
      path = libs/underscore
      url = https://github.com/documentcloud/underscore.git
[submodule "less"]
	path = libs/less
	url = https://github.com/cloudhead/less.js.git
[submodule "requirejs"]
	path = libs/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "jPlayer"]
        path = libs/jPlayer
        url = https://github.com/happyworm/jPlayer.git
[submodule "GitHubWidget"]
	path = libs/GitHubWidget
	url = https://github.com/RedRudeBoy/GitHub-jQuery-Repo-Widget.git
[submodule "tomahawk-resolvers"]
	path = libs/tomahawk-resolvers
	url = https://github.com/RedRudeBoy/tomahawk-resolvers.git
[submodule "lawnchair"]
	path = libs/lawnchair
	url = https://github.com/brianleroux/lawnchair.git
[submodule "jQuery-Animate-Enhanced"]
	path = libs/jQuery-Animate-Enhanced
	url = https://github.com/benbarnett/jQuery-Animate-Enhanced.git
[submodule "fancyBox"]
	path = libs/fancyBox
	url = https://github.com/fancyapps/fancyBox.git
[submodule "iscroll"]
	path = libs/iscroll
	url = https://github.com/cubiq/iscroll.git
